:root {
    --background-color: #f5f5f5;
    --text-color: #333;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

nav {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px var(--shadow-color);
}

.navbar-right {
    display: flex;
    align-items: center;
}

label {
    margin-right: 5px;
}




.content {
    margin: 20px;
}

.select-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label[for="provinces"],
label[for="districts"],
label[for="localBodies"] {
    margin-bottom: 5px;
}

select {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.details {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow-color);
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .select-container {
        flex-direction: column;
    }
}